/* Write your CSS code here */
.container1 {
  display: flex;
  flex-direction: column;
  margin: 15px;
}
@media screen and (min-width: 575px) {
  .container1 {
    flex-direction: row;
    width: 660px;
    height: 170px;
    margin: 15px;
  }
}
.imgUrl {
  width: 100%;
  border: 1px solid transparent;
  border-radius: 5px;
  height: 170px;
}
.topic-title {
  font-family: roboto;
  width: 100%;
}
.title {
  font-size: 18px;
}
.topic {
  color: #8e8e8e;
  font-size: 14px;
}
.img-auth {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.avaUrl {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  border-radius: 50%;
}
.auth {
  color: #8e8e8e;
  font-size: 14px;
}

.item-link {
  color: #000000;
  text-decoration: none;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  margin: 15px;
}
